html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-card {
  width: 288px;
  height: 443px;
  border-radius: 20px;
  background-color: white;
  padding: 16px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

.qr-img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.qr-text {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.qr-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: #1f314f;
  padding: 0px;
  margin: 0px;
}

.qr-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  color: #68778d;
  letter-spacing: 0.2px;
  padding: 0px;
  margin: 0px;
}
